@mixin flex-hrz($justify, $align, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-vrt($justify, $align, $gap) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin target($color) {
  border: 2px solid $color;
}
