.Hero {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 100px);

  .imageContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(26, 33, 63, 0.5);
    }

    .image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $colorText;

    .title {
      font-size: $display-size;
      font-weight: $h2-weight;

      @include xs() {
        font-size: $h1-size;
      }
    }
  }
}
