.CardsList {
  @include flex-vrt(center, flex-start, 20px);
  margin: 80px 90px 100px;

  .Cards {
    @include flex-hrz(space-between, center, 20px);
    margin-bottom: 80px;
    flex-wrap: wrap;

    @include xs() {
      @include flex-vrt(center, center, 20px);
      flex-wrap: wrap;
      margin: 30px 25px;
    }
  }

  .group {
    width: 100%;
    .groupTitle {
      background-color: $colorPrimary-dark;
      color: $colorText;
      padding: 25px;
      .title {
        font-size: $h2-size;
        font-weight: 500;
      }
    }

    .groupedCards {
      @include flex-hrz(flex-start, center, 20px);
      flex-wrap: wrap;
      margin-top: 30px;
      margin-bottom: 60px;

      @include xs() {
        @include flex-vrt(center, center, 20px);
        margin: 30px 25px;
      }
    }
  }

  button {
    text-transform: uppercase;
    height: 60px;
    width: 360px;
    bottom: 10px;
    color: $colorText;
    background-color: $colorPrimary-dark;
    border-radius: 6px;
    font-size: $p-size;
    cursor: pointer;
    margin: 0 auto;

    &:hover {
      background-color: $colorSecondary-dark;
    }
    &:active {
      scale: 0.99;
    }

    @include xs() {
      height: 50px;
      width: 260px;
    }
  }
}
