.Banner {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 100px);

  .imageContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(26, 33, 63, 0.5);
    }

    .image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .numbersWrapper {
    text-align: center;
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $colorText;
    @include flex-hrz(space-around, center, 0);

    @include xs() {
      @include flex-vrt(center, center, 30px);
    }

    .numbersItem {
      @include flex-vrt(center, center, 10px);
      color: $colorText;

      .numbersText,
      .numbersDesc {
        font-size: $h3-size;
        font-weight: $h5-weight;

        @include xs() {
          font-size: $h4-size;
          font-weight: $h4-weight;
        }
      }
    }
  }
}
